body{
    background: url("https://showwwcase.nl/img/bg.jpg");
}

h1{

    font-family:Arial;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 170px 0px 0px 30px;
    font-weight:300;
    
}